.navbar-tabs-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  .logo{
    padding-left: 10px;
    border-right: 10cm;
  }
  .tabs{
    padding-top: 2px;
  }
  .dstab{
    padding-top: 5px;
  }
