.navbar-tabs-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  .myprofile{
    background: rgb(230, 224, 224);
    border-radius: 30%;
  }
  
  .logo{
    padding-left: 10px;
  }